* {
  box-sizing: border-box;
  font-family: Gilroy, sans-serif;
}
body {
  margin: 0;
}
.stars-container {
  display: flex;
}

.reviews-list {
  display: flex;
  overflow-x: scroll;
  position: relative;
  padding: 0;
  width: 100%;
}
.reviews-list li {
  margin-right: 25px;
  list-style-type: none;
  display: block;
  background-color: #f6f7f9;
  text-align: center;
}
.review-list-item {
  position: relative;
  margin: auto;
  padding: 10px 0;
}
.review-div {
  display: grid;
  grid-template-rows: 1fr 2fr 0.5fr;
  width: 100%;
  height: 100%;
}

.user-review-text {
  grid-row: 2/3;
  color: #172032;
  text-align: center;
  line-height: 1.3em;
  text-transform: capitalize;
  white-space: pre-line;
}
.user-name {
  grid-row: 3/4;
  position: relative;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}
.open-quotes {
  grid-row: 1/2;
  background-image: url("assets/open_quotes.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
.sounds-better-heading-color {
  color: transparent;
  background: linear-gradient(to top, #30cbfc, #7c16fe);
  background-clip: text;
}
.long-hours-heading-color {
  color: transparent;
  background: linear-gradient(to top, #84e820, #00dc58);
  background-clip: text;
}
.chills-heading-color {
  background: linear-gradient(to top, #fc7a30, #fe1616);
  background-clip: text;
  color: transparent;
}
.stay-heading-color {
  color: transparent;
  background: linear-gradient(to top, #1f1927, #5c638f);
  background-clip: text;
}
.color-green {
  color: #008000;
}
.color-black {
  color: #191723;
}
.color-orange {
  color: #ffa500;
}
.water-and-dust-background-color {
  color: transparent;
  background: linear-gradient(to top, #19deeb, #27c4f5);
  background-clip: text;
}
@media screen and (max-width: 767px) {
  .top-ash-div {
    height: 60px;
    width: 100%;
    background: #f6f7f9;
  }
  .product-head-container {
    margin: 0 20px;
  }
  .product-name {
    font-size: 36px;
    letter-spacing: 1px;
    background: linear-gradient(to right, #fd3a1f, #ff844b);
    background-clip: border-box;
    background-clip: text;
    color: transparent;
    text-align: center;
    margin: 25px 0 0;
  }
  .subtitle-of-product-name {
    text-align: center;
    margin: 0;
    color: #191723;
    font-size: 26px;
  }
  .product-description {
    display: none;
  }
  .product-image-tag-line {
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0;
    text-transform: capitalize;
    color: #191723;
  }
  .product-image-description {
    text-align: center;
    font-size: 16px;
    line-height: 1.4em;
    color: #171c26;
    opacity: 0.6;
  }

  .product-sub-description {
    position: relative;
    bottom: 35px;
    padding: 0 35px;
  }
  .product-background-image {
    position: absolute;
    height: 80%;
    width: 100%;
    min-height: 360px;
    max-height: 680px;
    background-color: #f6f7f9;
    z-index: -1;
    bottom: 0;
    border-radius: 20px;
  }
  .product-image-container {
    text-align: center;
    position: relative;
    margin: 0 20px;
  }
  .product-image {
    display: block;
    width: 100%;
    margin: auto;
  }
  .select-color-for-product-container {
    display: flex;
    justify-content: center;
    margin: 30px 20px;
    position: relative;
  }
  .select-color-label-container {
    display: flex;
  }
  .select-color-for-product-container p {
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 15px;
  }

  .select-color-for-product-container label {
    border-radius: 25px;
    position: relative;
    display: flex;
    width: 26px;
    height: 26px;
    padding: 0.6px;
    margin: auto 10px;
    z-index: 0;
  }
  .select-color-for-product-container input {
    cursor: pointer;
    opacity: 0;
    width: 26px;
    height: 26px;
    margin: 1.5px;
    margin: 0;
  }
  #color-black-duopods {
    background: linear-gradient(to bottom, #9e9e9e, #000000);
  }
  #color-red-duopods {
    background: linear-gradient(to bottom, #ff9696, #8d0000);
  }
  #color-navy-blue-duopods {
    background: linear-gradient(to bottom, #8998cf, #192552);
  }
  #color-silver-duopods {
    background: linear-gradient(to bottom, #c4c4c4, #c4c4c400);
  }
  .product-color-pick-div {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 25px;
    top: -4px;
    left: -4px;
    z-index: -1;
  }
  input:checked ~ .product-color-pick-div {
    border: 2px solid #00ff00;
  }
  input:checked ~ .circle-tick {
    visibility: visible;
  }
  input:not(:checked) ~ .circle-tick {
    visibility: hidden;
  }
  input:not(:checked) ~ .product-color-pick-div {
    border: none;
  }
  .circle-tick::before {
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 25px;
    background-color: #00ff00;
    content: "";
    color: #000;
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 14px;
    z-index: 1;
  }
  .circle-tick:after {
    width: 5px;
    height: 9px;
    position: absolute;
    left: 20px;
    top: 16px;
    content: "";
    transform: rotate(45deg);
    border-color: #000;
    border-width: 1px;
    border-style: hidden solid solid hidden;
    display: block;
    z-index: 1;
  }
  .product-delivery-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
  }
  .product-delivery-div {
    text-align: center;
  }
  .product-delivery-div p {
    margin: auto;
    font-size: 14px;
    font-weight: bold;
    color: #4b4955;
    letter-spacing: 1px;
  }
  .product-delivery-div img {
    max-width: 100%;
    object-fit: cover;
    margin: auto;
  }
  .review-stars-container {
    text-align: center;
    display: block;
    margin: 45px 20px 20px;
  }
  .stars-container {
    width: max-content;
    margin: auto;
    position: relative;
    display: flex;
  }
  .stars-container i {
    background-image: url("assets/star.png");
    width: 30px;
    height: 30px;
    position: relative;
    margin: 5px;
  }
  .background-rating-star {
    position: absolute;
    background: #172032;
    background-clip: text;
    width: 80%;
    bottom: 0;
    height: 100%;
  }
  .user-reviews-section {
    position: relative;
    margin-left: 20px;
  }
  .review-stars-container p {
    font-size: 20px;
    margin: 15px auto;
    width: max-content;
    color: #4b4955;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  .review-stars-container span {
    display: block;
    margin-top: 5px;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, #fafafa, #5392e2, #f7f7f7);
  }
  .product-price-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-gap: 10px;
    margin: 0;
    z-index: 1;
    box-shadow: 0 -1px 5px 2px #0003;
  }
  .add-to-cart-button {
    grid-column: 2/3;
    right: 0;
    top: 5px;
    margin: 10px 15px;
    position: absolute;
  }
  .add-to-cart-button a {
    padding: 1rem;
    text-decoration: none;
    color: #4b4955;
    background-color: #00ff00;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 155px;
    position: relative;
    display: block;
  }
  .product-price-div {
    position: relative;
    margin: 10px;
  }
  .product-price {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 18px;
    color: #4b4955;
  }
  .original-price {
    font-size: 14px;
    text-decoration: line-through;
    opacity: 0.8;
  }
  .discount {
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: #4b4955;
  }
  .discount-price {
    font-weight: 600;
  }
  .coupon-code {
    text-decoration: underline;
    color: #962c25;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .review-list-item {
    width: 260px;
    height: 260px;
  }
  .user-review-text {
    font-size: 20px;
  }
  .user-name {
    grid-row: 3/4;
    position: relative;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .open-quotes {
    width: 40px;
    height: 40px;
  }
  .sound-features-section {
    margin: 35px;
  }
  .sound-feature-main-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-content: space-between;
    grid-gap: 25px;
  }
  .sound-feature-main-div p {
    font-size: 18px;
    line-height: 1.2em;
    text-transform: capitalize;
  }
  .speaker-section {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
  }
  .alarm-section {
    grid-column: 2/3;
    grid-row: 1/2;
    right: 0;
    text-align: right;
  }
  .phone-section {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
  }
  .battery-section {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;
  }

  .sound-feature-image-div {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #17203230;
  }
  .speaker-section img,
  .phone-section img {
    position: relative;
    top: 6px;
    left: 8px;
    margin: auto;
  }
  .alarm-section img {
    position: relative;
    top: 7px;
    right: 7px;
  }
  .battery-section img {
    position: relative;
    right: 12px;
    top: 8px;
  }
  .sound-feature-right-sections {
    display: grid;
    justify-content: right;
  }
  .sound-feature-right-sections .sound-feature-image-div {
    justify-self: right;
  }
  .section-logo-icon-background {
    border-radius: 15px;
    width: 60px;
    height: 60px;
    position: relative;
  }
  .music-image-background {
    background: linear-gradient(to top, #30cbfc, #7c16fe);
    margin: auto;
  }
  .sound-section {
    text-align: center;
    position: relative;
  }
  .music-note {
    top: 12px;
    right: 3px;
    position: relative;
  }
  .subheadings {
    font-size: 25px;
    /* margin-top: 15px; */
    margin-bottom: 0;
    text-transform: capitalize;
  }
  .main-headings {
    font-size: 48px;
    letter-spacing: 1px;
    margin: auto;
    text-transform: capitalize;
  }
  .sounds-better-description {
    font-size: 16px;
    line-height: 1.5em;
    padding: 0 26px;
    color: #4b4955;
    opacity: 0.6;
  }

  .sound-information-container {
    position: absolute;
    top: 0;
  }
  .right-blue-duopod-image-div {
    position: relative;
    top: 4rem;
    background: url("assets/sound-background-image.png") no-repeat center;
    background-size: cover;
  }
  .right-blue-duopod-image-div img {
    object-fit: cover;
    /* width: 100%; */
    height: 100%;
  }
  .right-blue-duopod-image {
    position: relative;
    object-fit: contain;
    max-width: 100%;
    bottom: 8rem;
  }
  .thunder-image-background {
    background: linear-gradient(to top, #84e820, #00dc58);
    text-align: center;
  }
  .thunder-bolt {
    position: relative;
    width: 25px;
    height: 40px;
    margin: 10px auto;
  }
  .long-hours-section {
    position: relative;
    /* top: 2rem; */
    background-image: url("assets/long-hours-half-background.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 68%;
  }
  .long-hours-heading-color {
    line-height: 1em;
    margin: 10px auto 30px;
  }
  .long-hours-description {
    font-size: 16px;
    line-height: 1.5em;
    color: #4b4955;
    min-width: 200px;
    max-width: 100%;
    opacity: 0.6;
  }
  .long-hours-grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .long-hours-first-grid {
    min-width: 200px;
    margin: auto 0 auto 25px;
    max-width: 100%;
  }
  .long-hours-second-grid {
    text-align: right;
    margin: auto 0;
  }
  .long-hours-second-grid img {
    position: relative;
    object-fit: cover;
    width: 225%;
    right: 2.5em;
    bottom: 14px;
  }
  .chills-section {
    position: relative;
    top: 2rem;
  }
  .chills-main-div {
    position: relative;
    margin: 35px 20px 0;
    text-align: center;
  }
  .chills-image-background {
    margin: auto;
    background: linear-gradient(to top, #fc7a30, #fe1616);
  }
  .chills-image {
    position: relative;
    top: 17px;
  }
  .chills-description {
    font-size: 16px;
    line-height: 1.5em;
    padding: 0 40px;
    color: #4b4955;
    opacity: 0.6;
  }
  .chills-red-duopod-image {
    position: relative;
    max-width: 100%;
  }
  .chills-background {
    position: absolute;
    width: 100%;
    min-height: 440px;
    max-height: 530px;
    height: 100%;
    background-color: #f6f7f9;
    z-index: -1;
    border-radius: 20px;
  }
  .chills-data {
    position: relative;
    top: 25px;
  }
  .they-stay-section {
    position: relative;
    top: -2rem;
  }
  .exercising-image-background-div {
    background: linear-gradient(to top, #1f1927, #5c638f);
  }
  .exercising-image {
    position: relative;
    top: 15px;
    left: 15px;
  }

  .they-stay-description {
    line-height: 1.5em;
    font-size: 16px;
    color: #4b4955;
    padding-right: 15px;
  }
  .they-stay-main-div {
    margin-left: 35px;
    background-image: url("assets/exercise.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .they-stay-data-div {
    width: 180px;
    padding: 25px 0 15px;
  }
  .made-in-india-section {
    text-align: center;
    position: relative;
    top: 10rem;
  }
  .indian-flag-image-div {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #f6f7f9;
    border-radius: 20px;
    margin: auto;
  }
  .made-in-india-main-div {
    height: 712px;
    width: 100%;
  }

  .india-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("assets/made-in-india-background.png");
    background-repeat: no-repeat;
    z-index: -1;
    top: 5rem;
    background-position: center;
    background-size: cover;
  }
  .indian-flag {
    position: absolute;
    top: 18px;
    left: 15px;
    margin: 0 auto;
  }
  .made-in-india-description {
    font-size: 16px;
    line-height: 1.4em;
    color: #4b4955;
    padding: 20px 30px;
    margin: 0 15px;
    opacity: 0.8;
  }
  .video-controls-class {
    width: auto;
    min-width: 85%;
    object-fit: cover;
    margin: 45px 20px 0;
    cursor: pointer;
  }
  .water-and-dust-section {
    top: 7em;
    position: relative;
    padding-bottom: 8rem;
    padding-left: 5px;
  }
  .water-and-dust-container {
    margin: auto 30px;
    position: absolute;
    top: 0;
  }

  .droplet-image-background {
    background: linear-gradient(to top, #19deeb, #27c4f5);
  }
  .droplet-image {
    position: relative;
    top: 15px;
    left: 13px;
  }
  .water-and-dust-font {
    font-size: 52px;
  }
  .water-and-dust-description {
    padding-right: 1.5rem;
    font-size: 16px;
    line-height: 1.5em;
    color: #4b4955;
  }
  .white-duopods-droplets-image-container {
    position: relative;
    text-align: center;
    top: 12rem;
  }
  .white-duopods-water-image {
    object-fit: contain;
    max-width: 100%;
    position: relative;
    /* bottom: 4.5rem; */
    max-height: 1000px;
    margin: auto;
  }
  .colorful-by-choice-section {
    position: relative;
    top: 6rem;
    text-align: center;
  }
  .colorful-by-choice-main-div {
    margin: auto 25px;
  }
  .colorful-by-choice-description {
    font-size: 16px;
    margin: 25px;
  }
  .group-duopods-grid {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 100%);
    grid-gap: 10px;
    padding-right: 10px;
  }
  .colorful-group-blue-duopods {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    max-width: 100%;
  }
  .colorful-group-red-duopods {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: right;
    max-width: 100%;
  }
  .colorful-group-black-duopod-right {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: left;
    max-width: 100%;
  }
  .colorful-group-white-duopods {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: center;
    max-width: 100%;
  }
  .group-image-of-duopods {
    margin: 0;
    width: 100%;
  }
  .group-min-width-768 {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  .select-color-for-product-container p {
    margin: 10px 0 !important;
  }
}
@media (min-width: 400px) and (max-width: 620px) {
  .chills-red-duopod-image {
    bottom: 15px;
  }
}
@media (max-width: 352px) {
  .right-blue-duopod-image-div {
    top: 10rem !important;
  }
  .white-duopods-droplets-image-container {
    top: 20rem !important;
  }
  .colorful-by-choice-section {
    top: 13rem !important;
  }
}
@media (max-width: 540px) {
  .right-blue-duopod-image-div {
    top: 6rem;
  }
  .right-blue-duopod-image-div img {
    max-width: 100% !important;
  }
  .chills-section {
    padding-top: 2.5rem !important;
  }
}
@media (max-width: 336px) {
  .right-blue-duopod-image-div {
    top: 13rem !important;
  }
}
@media (max-width: 412px) {
  .video-controls-class {
    width: 65% !important;
  }
  .india-background {
    top: 3rem !important;
  }
  .water-and-dust-container {
    margin: auto 25px !important;
  }
}
@media (min-width: 353px) and (max-width: 412px) {
  .white-duopods-droplets-image-container {
    top: 18rem !important;
  }
}
@media (min-width: 512px) and (max-width: 614px) {
  .made-in-india-section {
    margin-bottom: 3rem !important;
  }
}
@media (min-width: 615px) and (max-width: 767px) {
  .made-in-india-section {
    margin-bottom: 6rem !important;
  }
}
@media (max-width: 454px) {
  .white-duopods-droplets-image-container {
    top: 16rem;
  }
  .colorful-by-choice-section {
    top: 12rem !important;
  }
}
@media (max-width: 480px) {
  .product-sub-description {
    padding-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  main {
    max-width: 1180px;
    margin: auto;
  }
  .top-ash-div,
  .product-sub-description {
    display: none;
  }
  .section-logo-icon-background {
    border-radius: 20px;
    width: 80px;
    height: 80px;
  }
  .review-list-item {
    width: 350px;
    /* padding: 10px 0; */
    height: 350px;
  }
  .user-reviews-section {
    position: relative;
  }
  .user-review-text {
    font-size: 24px;
  }
  .open-quotes {
    width: 50px;
    height: 50px;
  }
  .sound-features-section {
    top: 4rem;
    position: relative;
  }
  .sound-feature-main-div {
    display: flex;
    margin: auto;
    justify-content: space-around;
  }
  .speaker-section,
  .alarm-section,
  .phone-section,
  .battery-section {
    display: flex;
  }
  .speaker-section p,
  .alarm-section p,
  .phone-section p,
  .battery-section p {
    font-size: 18px;
  }
  .sound-feature-image-div {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #17203230;
    margin: auto 10px;
  }
  .phone-section img,
  .speaker-section img {
    left: 8px;
    position: relative;
    top: 5px;
    height: 36px;
  }
  .alarm-section img {
    left: 6px;
    position: relative;
    top: 6px;
    height: 36px;
  }
  .battery-section img {
    left: 15px;
    position: relative;
    top: 7px;
    height: 32px;
  }
  .sound-section {
    position: relative;
    margin: auto;
    text-align: center;
    top: 14rem;
  }
  .music-image-background {
    background: linear-gradient(to top, #30cbfc, #7c16fe);
    margin: auto;
  }
  .music-note {
    top: 19px;
    right: 4px;
    font-size: 24px;
    position: relative;
    width: 35px;
    height: 42px;
  }
  .subheadings {
    font-size: 36px;
    margin: 25px auto 0;
    text-transform: capitalize;
  }
  .main-headings {
    margin: auto;
    font-size: 54px;
    text-transform: capitalize;
  }
  .sound-information-container {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .sounds-better-description,
  .chills-description,
  .made-in-india-description  {
    position: relative;
    max-width: 750px;
    font-size: 18px;
    line-height: 1.5em;
    margin: 10px auto;
    color: #4b4955;
    opacity: 0.8;
  }
  .right-blue-duopod-image-div {
    position: relative;
    background: url("assets/blue-duopods-background.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  .right-blue-duopod-image-div img {
    max-width: 540px;
    /* min-width: 100%; */
    height: 960px;
  }
  .long-hours-section {
    position: relative;
    max-width: 972px;
    background-image: url("assets/long-hours-background.png");
    background-repeat: no-repeat;
    background-position: right;
    top: 4rem;
    background-size: 68%;
    margin: auto;
  }

  .long-hours-grid {
    display: flex;
    margin: auto 25px;
  }
  .long-hours-first-grid {
    display: block;
    margin: auto;
    z-index: 1;
    /* padding-left: 25px; */
    max-width: 356px;
  }
  .thunder-image-background {
    background: linear-gradient(to top, #84e820, #00dc58);
    text-align: center;
  }
  .thunder-bolt {
    position: relative;
    width: 25px;
    height: 45px;
    top: 18px;
  }
  .long-hours-description {
    font-size: 18px;
    line-height: 1.5em;
    max-width: 420px;
    opacity: 0.8;
    position: relative;
    color: #4b4955;
  }

  .long-hours-second-grid img {
    width: 100%;
    right: 1.3rem;
    position: relative;
    bottom: 0.5em;
  }
  .chills-section {
    position: relative;
    top: 6rem;
    text-align: center;
    margin: auto;
    max-width: 980px;
    height: 940px;
  }
  .chills-background {
    position: absolute;
    width: 100%;
    height: 658px;
    background-color: #f6f7f9;
    z-index: -1;
    border-radius: 20px;
  }
  .chills-data {
    position: relative;
    padding-top: 50px;
  }
  .chills-image-background {
    background: linear-gradient(to top, #fc7a30, #fe1616);
    margin: auto;
  }
  .chills-image {
    position: relative;
    top: 25px;
    width: 50px;
    height: 32px;
  }
  .chills-red-duopod-image {
    max-width: 680px;
    height: 680px;
    bottom: 5.8rem;
    position: relative;
    right: 2rem;
  }
  .they-stay-section {
    top: 3rem;
    position: relative;
    max-width: 1180px;
    height: 680px;
    background-image: url("assets/exercise.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  .exercising-image-background-div {
    background: linear-gradient(to top, #1f1927, #5c638f);
  }
  .exercising-image {
    position: relative;
    top: 16px;
    left: 21px;
    height: 45px;
    width: 35px;
  }
  .they-stay-data-div {
    margin-left: 2.5rem;  
    padding-top: 40px;
  }
  .they-stay-description {
    font-size: 18px;
    line-height: 1.5em;
    opacity: 0.8;
    margin: 15px 0;
    color: #4b4955;
    max-width: 345px;
  }
  .made-in-india-section {
    top: 4rem;
    position: relative;
    padding-top: 8rem;
    text-align: center;
  }
  .indian-flag-image-div {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #f6f7f9;
    border-radius: 20px;
    margin: auto;
  }
  .made-in-india-section .main-headings {
    margin: 5px auto;
  }
  .indian-flag {
    position: relative;
    top: 22px;
    width: 45px;
    height: 35px;
  }
  .video-controls-class {
    position: relative;
    margin: 30px auto;
    width: 580px;
  }
  .india-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("assets/tri-color-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 14rem;
    left: 0.2rem;
  }
  .droplet-image-background {
    background: linear-gradient(to top, #19deeb, #27c4f5);
  }
  .droplet-image {
    position : relative;
    top: 18px;
    left: 18px;
    width: 42px;
    height: 42px;
  }
  .water-and-dust-section {
    position: relative;
    top: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1100px;
    margin: auto;
  }
  .white-duopods-droplets-image-container {
    position: relative;
    grid-column: 2/3;
    margin: auto;
  }
  .water-and-dust-container {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 400px;
    justify-self: end;
    margin-top: 7rem;
  }
  .water-and-dust-description {
    line-height: 1.5em;
    font-size: 20px;
    color: #4B4955;
    opacity: 0.8;
  }
  .colorful-by-choice-section {
    position: relative;
    top: 10rem;
    margin: auto;
    text-align: center;
  }
  .colorful-by-choice-description{
    font-size: 20px;
    margin: 15px auto 25px;
    opacity: 0.8;
  }
  .group-duopods-grid {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: repeat(2, 100%);
    grid-gap: 10px;
    padding-right: 10px;
  }
  .colorful-group-blue-duopods {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    max-width: 100%;
  }
  .colorful-group-red-duopods {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: right;
    max-width: 100%;
  }
  .colorful-group-black-duopod-right {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: left;
    max-width: 100%;
  }
  .colorful-group-white-duopods {
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self: center;
    max-width: 100%;
  }
  .group-max-width-767 {
    display:none;
  }
  .group-image-of-duopods {
    margin: auto;
    max-width: 100%;
  }
  .product-view-section {
    position: relative;
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5,auto);
  }
  .product-head-container {
    grid-column: 7/13;
    grid-row: 1/3;
    position: relative;
  }
  .product-image-container {
    grid-column: 1/6;
grid-row: 1/6;
position: absolute;
margin: auto;
top: 25px;
  }
  .product-image {
    width: 100%;
  }
  .product-background-image {
    width: 100%;
    height: 100%;
    background-color: #F6F7F9;
    border-radius: 20px;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .select-color-for-product-container {
    grid-column: 7/10;
    grid-row: 3/4;
position: relative;
  }
  .product-delivery-container {
    grid-column: 7/13;
grid-row: 5/6;
display: flex;
position: relative;
  }
  .review-stars-container {
    grid-column-end: 13;
    grid-row: 3/4;
position: relative;
  }
  .product-price-container {
    grid-column: 7/13;
grid-row: 4/5;
  }
}
@media(min-width: 768px) and (max-width: 1120px) {
  .india-background {
    top: 15rem;
    left: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .sound-feature-image-div {
    margin: auto 20px;
  }
  .sound-feature-main-div p {
    font-size: 20px;
  }
}
@media (min-width: 900px) and (max-width: 954px) {
  .long-hours-second-grid img {
    right: 1.5rem;
    bottom: 0.4rem;
  }
}
@media (min-width: 952px) {
  .they-stay-data-div {
  margin-left: 5rem;
  }
}
@media (min-width: 955px) {
  .long-hours-second-grid img {
    right: 1.2rem;
    bottom: 0.6rem;
  }
}
