* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  margin: 0;
}
.subtitle-of-product-name {
  color: #191723;
}

.select-color-for-product-container p {
  font-size: 14px;
  text-transform: uppercase;
  margin: auto 10px;
  letter-spacing: 1px;
}
.product-color-pick-div {
  position: relative;
  display: block;
  content: "";

  border-radius: 25px;

  margin: auto 5px;
}
/* 
input[type="radio"]:checked > .product-color-pick-div {
  border: 2px solid #00ff00;
} */
.select-color-for-product-container label {
  cursor: pointer;

  border-radius: 25px;

  position: relative;
  display: block;
}
.select-color-for-product-container input {
  visibility: hidden;

  margin: 0;
}
#color-black-duopods {
  background: linear-gradient(to bottom, #9e9e9e, #000000);
}
#color-red-duopods {
  background: linear-gradient(to bottom, #ff9696, #8d0000);
}
#color-navy-blue-duopods {
  background: linear-gradient(to bottom, #8998cf, #192552);
}
#color-silver-duopods {
  background: linear-gradient(to bottom, #c4c4c4, #c4c4c400);
}
.product-name {
  margin-bottom: 0;
  color: transparent;
  background-image: linear-gradient(to right, #fd371f, #ff844b);
  background-clip: text;
}
@media (max-width: 768px) {
  .top-ash-div {
    height: 60px;
    background-color: #f6f7f9;
  }
  .product-name {
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
  }
  .subtitle-of-product-name {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 10px;
    color: #4b4955;
    letter-spacing: 1px;
  }
  .product-description,
  .product-image-background-2 {
    display: none;
  }
  .product-image-container {
    text-align: center;
    margin: auto 20px;
    position: relative;
    padding-bottom: 10px;
  }
  .product-image {
    display: block;
    max-width: 100%;
    margin: auto;
  }
  .product-image-background {
    position: absolute;
    height: 80%;
    width: 100%;
    min-height: 360px;
    max-height: 600px;
    background-color: #f6f7f9;
    z-index: -1;
    bottom: 0;
    border-radius: 20px;
  }
  .product-sub-description {
    padding: 0 20px;
  }
  .product-image-tag-line {
    font-size: 24px;
    font-weight: 350;
    margin: auto;
    text-transform: capitalize;
    color: #191723;
    letter-spacing: 0.8px;
  }
  .product-image-description {
    line-height: 1.5em;
    opacity: 0.5;
    color: #171c26;
    font-size: 16px;
  }
  .select-color-for-product-container {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    clear: both;
  }
  .product-color-pick-div {
    width: 32px;
    height: 32px;
  }

  .select-color-for-product-container label {
    width: 24px;
    height: 24px;
    padding: 0.6px;
  }
  .select-color-for-product-container input {
    width: 24px;
    height: 24px;
    margin: 1.5px;
  }
  .product-delivery-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    text-align: center;
  }
  .product-delivery-div img {
    object-fit: cover;
    max-width: 100%;
  }
  .product-delivery-container p {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;
    color: #4b4955;
  }
  .review-stars-container {
    text-align: center;
    width: max-content;
    margin: 50px auto 0;
  }
  .review-stars-container p {
    border-width: 1px;
    display: block;
    width: max-content;
    text-align: center;
    margin: 10px auto;
  }
  .review-stars-container span {
    display: block;
    position: relative;
    margin-top: 5px;
    max-width: 100%;
    height: 1px;
    background: linear-gradient(to right, #fafafa, #5392e2, #f7f7f7);
  }
}

@media screen and (min-width: 769px) {
  .top-ash-div {
    display: none;
  }
  .product-sub-description {
    display: none;
  }
  .product-view-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 2fr) repeat(3, 1fr);
    max-width: 1140px;
    margin: 50px auto;
    /* grid-column-gap: 75px; */
    height: 100%;
    max-height: 600px;
    justify-content: space-between;
  }
  .product-image-container {
    width: 100%;
    max-width: 540px;
    grid-column: 1/3;
    grid-row: 1/6;
    position: relative;
  }
  .product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .product-image-background {
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 540px;
    border-radius: 20px;
    z-index: -1;
    max-height: 600px;
    background-color: #f6f7f9;
    background: linear-gradient(to bottom, #f6f7f9, #f6f7f9),
      radial-gradient(#fbfcff, #ced1d7);
  }
  .product-image-background-2 {
    position: absolute;
    width: 100%;
    height: 60px;
    max-width: 540px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(to bottom, #fffffff1, #fffffff0);
    z-index: -1;
    bottom: 0;
  }
  .product-head-container {
    grid-column: 3/6;
    grid-row: 1/3;
    height: max-content;
  }

  .product-name {
    font-size: 64px;
    margin: 0;
  }
  .subtitle-of-product-name {
    font-size: 30px;
    color: #4b4955;
    margin: 10px 0;
    width: 275px;
    line-height: 1.2em;
    letter-spacing: 1px;
  }
  .product-description {
    opacity: 0.6;
    width: 340px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4em;
    color: #4b4955;
    margin: 0;
  }
  .select-color-for-product-container {
    display: block;
    width: 275px;
    grid-row: 3/4;
    grid-column: 3/4;
  }
  .select-color-for-product-container p {
    font-size: 12px;
    margin: 5px 0;
    color: #4b4955;
    padding-left: 5px;
  }

  .product-color-pick-div {
    float: left;
    margin: auto 2px;
    left: -5px;
    top: 10px;
  }
  .product-color-pick-div {
    width: 36px;
    height: 36px;
    padding: 0.5px;
  }

  .select-color-for-product-container label {
    width: 28px;
    height: 28px;
    margin: 1.5px;
  }
  .select-color-for-product-container input {
    width: 26px;
    height: 26px;
  }
  .product-delivery-container {
    grid-row: 5/6;
    grid-column: 3/5;
    display: flex;
    justify-content: space-evenly;
  }
  .review-stars-container {
    grid-row: 3/4;
    grid-column: 4/5;
  }
}
